In [1]:
from chebi_tools import ChEBIStandardizer

In [2]:
std = ChEBIStandardizer()

# Find standardized name records

In [3]:
std.process('Glucosamine')

WARNING:root:Multiple matches for "glucosamine":
                       SOURCE  COMPOUND_ID         NAME        TYPE
NAME_lowercase
glucosamine     KEGG COMPOUND         5417  Glucosamine     SYNONYM
glucosamine             IUPAC         5417  glucosamine  IUPAC NAME
glucosamine     KEGG COMPOUND         5417  glucosamine         NaN
Taking first entry.

{'CHEBI': 'CHEBI:5417',
 'REF_CHEBI': 'CHEBI:5417',
 'REF_NAME': 'Glucosamine',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 5417,
 'SMILES': None,
 'QUERY': 'Glucosamine'}

In [4]:
std.process('glutathione')

WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856

{'COMPOUND_ID': 16856,
 'EXACT_MATCH': True,
 'CHEBI': 'CHEBI:16856',
 'REF_NAME': '',
 'REF_CHEBI': '',
 'SMILES': 'N[C@@H](CCC(=O)N[C@@H](CS)C(=O)NCC(=O)O)C(=O)O',
 'QUERY': 'glutathione'}

In [5]:
std.process_many(['glutathione', 'Glucosamine', 'creatine'])

WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856
WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856
WARNING:root:Multiple matches for "glucosamine":
                       SOURCE  COMPOUND_ID         NAME        TYPE
NAME_lowercase
glucosamine     KEGG COMPOUND         5417  Glucosamine     SYNONYM
glucosamine             IUPAC         5417  glucosamine  IUPAC NAME
glucosamine     KEGG COMPOUND         5417  glucosamine         NaN
Taking first entry.
WARNING:root:Multiple matches for "creatine":
                       SOURCE  COMPOUND_ID      NAME     TYPE
NAME_lowercase
creatine        KEGG COMPOUND        16919  Creatine  SYNONYM
creatine              UniProt        57947  creatine     NAME
creatine                ChEBI        16919  creatine      NaN
Taking first entry.

,QUERY,CHEBI,REF_CHEBI,REF_NAME,EXACT_MATCH,SMILES
0,glutathione,CHEBI:16856,,,True,N[C@@H](CCC(=O)N[C@@H](CS)C(=O)NCC(=O)O)C(=O)O
1,Glucosamine,CHEBI:5417,CHEBI:5417,Glucosamine,True,None
2,creatine,CHEBI:16919,CHEBI:16919,Creatine,True,CN(CC(O)=O)C(N)=N

In [6]:
assert std.process('mevalonate')['REF_CHEBI'] == std.process('mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.

In [7]:
assert std.process('(r)-mevalonate')['REF_CHEBI'] == std.process('mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.

In [8]:
assert std.process('(r)-mevalonate')['REF_CHEBI'] == std.process('(s)-mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "(s)-mevalonic acid":
                   SOURCE  COMPOUND_ID                NAME     TYPE
NAME_lowercase
(s)-mevalonic acid  ChEBI        28880  (S)-mevalonic acid      NaN
(s)-mevalonic acid  ChEBI        18790  (S)-mevalonic acid  SYNONYM
Taking first entry.

In [9]:
std.process('Mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

{'CHEBI': 'CHEBI:36464',
 'REF_CHEBI': 'CHEBI:25351',
 'REF_NAME': 'Mevalonic acid',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 36464,
 'SMILES': 'C[C@@](O)(CCO)CC([O-])=O',
 'QUERY': 'Mevalonate'}

## Process multiple queries at once

In [10]:
std.process_many(['mevalonic acid', 'mevalonate', 'arabitol', 'succinate', 'succininc acid', 'aspartate'])

WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "succinate":
                 SOURCE  COMPOUND_ID       NAME     TYPE
NAME_lowercase
succinate       UniProt        30031  succinate     NAME
succinate         ChEBI        26806  succinate  SYNONYM
Taking first entry.
WARNING:root:Multiple matches for "aspartate":
               SOURCE  COMPOUND_ID       NAME        TYPE
NAME_lowercase
aspartate       IUPAC        29995  aspartate  IUPAC NAME
aspartate       ChEBI        72314  aspartate     SYNONYM
aspartate       ChEBI       132943  aspartate         NaN
Taking first entry.

,QUERY,CHEBI,REF_CHEBI,REF_NAME,EXACT_MATCH,SMILES
0,mevalonic acid,CHEBI:25350,CHEBI:25351,Mevalonic acid,True,None
1,mevalonate,CHEBI:36464,CHEBI:25351,Mevalonic acid,True,C[C@@](O)(CCO)CC([O-])=O
2,arabitol,CHEBI:18333,CHEBI:22605,Arabinitol,False,OC[C@@H](O)C(O)[C@H](O)CO
3,succinate,CHEBI:30031,CHEBI:15741,Succinic acid,True,[O-]C(=O)CCC([O-])=O
4,succininc acid,CHEBI:15741,CHEBI:15741,Succinic acid,False,OC(=O)CCC(O)=O
5,aspartate,CHEBI:29995,CHEBI:22660,Aspartic acid,True,NC(CC([O-])=O)C([O-])=O

# Get smiles string

In [27]:
std.get_smiles(25351)

## Not working yet

In [28]:
std.get_smiles('CHEBI:25351')

In [29]:
std.get_smiles('ChEBI:25351')

In [30]:
std.get_smiles('mevalonate')

In [31]:
std.names[std.names.NAME.str.contains('(S)-', regex=False)]

,SOURCE,COMPOUND_ID,NAME,TYPE,NAME_lowercase
102,KEGG COMPOUND,113,"(S)-1,2,3,4-tetrahydro-1-methyl-6,7-isoquinoli...",SYNONYM,"(s)-1,2,3,4-tetrahydro-1-methyl-6,7-isoquinoli..."
105,KEGG COMPOUND,15412,(S)-Ureidoglycolate,SYNONYM,(s)-ureidoglycolate
160,KEGG COMPOUND,15449,(S)-3-Hydroxy-2-methylbutyryl-CoA,SYNONYM,(s)-3-hydroxy-2-methylbutyryl-coa
359,KEGG COMPOUND,18285,(S)-Stylopine,SYNONYM,(s)-stylopine
408,KEGG COMPOUND,15455,(S)-3-Hydroxyacyl-CoA,SYNONYM,(s)-3-hydroxyacyl-coa
...,...,...,...,...,...
520403,SUBMITTER,140264,"16(S)-cystein-S-yl,17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-cystein-s-yl,17hydroxy-(4z,7z,10,12,14,1..."
520405,ChEBI,140394,"16(S)-glutathionyl-17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-glutathionyl-17hydroxy-(4z,7z,10,12,14,1..."
520406,ChEBI,140397,"16(S)-glycinylcystein-S-yl-17hydroxy-(4Z,7Z,10...",NaN,"16(s)-glycinylcystein-s-yl-17hydroxy-(4z,7z,10..."
520412,ChEBI,140401,"16(S)-cystein-S-yl,17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-cystein-s-yl,17hydroxy-(4z,7z,10,12,14,1..."
520724,ChEBI,51797,6alpha-[(S)-1-hydroxyethyl]-2-[tetrahydrofuran...,NaN,6alpha-[(s)-1-hydroxyethyl]-2-[tetrahydrofuran...

In [32]:
new_names = std.names[std.names.NAME.str.contains('(S)-', regex=False)].copy()

In [33]:
new_names['NAME'] = new_names['NAME'].str.replace('(S)-', '')

In [34]:
import pandas as pd

In [35]:
def remove_patterns(patterns):
    for pattern in patterns:
        new_names = std.names[std.names.NAME.str.contains(pattern, regex=False)].copy()
        new_names['NAME'] = new_names['NAME'].str.replace(pattern, '')    
        std.names = pd.concat([std.names, new_names]).reset_index(drop=True)

In [36]:
# remove_patterns(['(S)-', '(R)-'])
#std.names['NAME_lowercase'] = std.names.NAME.str.lower()

In [37]:
std.get_by_name('Mevalonate')

         SOURCE  COMPOUND_ID        NAME  TYPE NAME_lowercase
518200  UniProt        36464  mevalonate  NAME     mevalonate
520707    ChEBI        36464  mevalonate   NaN     mevalonate

In [38]:
std.get_by_name('mevalonate')

         SOURCE  COMPOUND_ID        NAME  TYPE NAME_lowercase
518200  UniProt        36464  mevalonate  NAME     mevalonate
520707    ChEBI        36464  mevalonate   NaN     mevalonate

In [39]:
std.get_by_name('mevalic acid')

Empty DataFrame
Columns: [SOURCE, COMPOUND_ID, NAME, TYPE, NAME_lowercase]
Index: []

In [40]:
std.search('mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

(SOURCE            UniProt
 COMPOUND_ID         36464
 NAME           mevalonate
 TYPE                 NAME
 Name: mevalonate, dtype: object,
 True)

In [41]:
std.names.set_index('NAME').loc['(R)-mevalonate']

                 SOURCE  COMPOUND_ID  TYPE  NAME_lowercase
NAME
(R)-mevalonate  UniProt        36464  NAME  (r)-mevalonate
(R)-mevalonate    ChEBI        36464   NaN  (r)-mevalonate

In [42]:
std.process('mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

{'CHEBI': 'CHEBI:36464',
 'REF_CHEBI': 'CHEBI:25351',
 'REF_NAME': 'Mevalonic acid',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 36464,
 'SMILES': 'C[C@@](O)(CCO)CC([O-])=O',
 'QUERY': 'mevalonate'}